/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p,
a, code, img, small, strike,
strong, sub, sup, b, u, i,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tr, th, td,
article, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}


/* START CUSTOM */
.hide-load {
    visibility: hidden;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

h1 {
    font-family: 'Oswald', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    padding-bottom: 5px;
    border-bottom: 4px solid #FCE7DD;
}

h3 {
    font-family: 'Merriweather', Helvetica, sans-serif;
    font-size: 1.5em;
    margin-top: 5px;
}

#wrapper {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#middleWrapper {
    display: table-cell;
    vertical-align: middle;
}

#innerWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

aside {
    float: left;
    margin-right: 3em;
    top: 50%;
    transform: translate(0,-50%);
    text-align: center;
}

#content {
    float: left;
    margin-left: 3em;
    top: 50%;
    transform: translate(0,-50%);
    color: #8D8D8D;
}

#content div {
    clear: both;
    margin-bottom: 1em;
}

#content div:last-child {
    margin-bottom: 0;
}

#languages:before {
    background-image: url('./images/iconmonstr-code-gray.png');
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.3em;
    background-size: 24px 24px;
    width: 24px; 
    height: 24px;
    content:"";
}

#frameworks:before {
    background-image: url('./images/iconmonstr-script-gray.png');
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.3em;
    background-size: 24px 24px;
    width: 24px; 
    height: 24px;
    content:"";
}

#automation:before {
    background-image: url('./images/iconmonstr-arrow-gray.png');
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.3em;
    background-size: 24px 24px;
    width: 24px; 
    height: 24px;
    content:"";
}

#tools:before {
    background-image: url('./images/iconmonstr-tools-gray.png');
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.3em;
    background-size: 24px 24px;
    width: 24px; 
    height: 24px;
    content:"";
}

#testing:before {
    background-image: url('./images/iconmonstr-flask-gray.png');
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.3em;
    background-size: 24px 24px;
    width: 24px; 
    height: 24px;
    content:"";
}

footer {
    position: absolute;
    /*bottom: 3em;*/
    width: 100%;
    height: 6em;
    bottom: 0;
    text-align: center;
    font-size: 0.8em;
    color: #8D8D8D;
}

#social-wrapper {
    position:relative;
    overflow:hidden;
    top:-40px;
    height:80px;
}

.social {
    position:relative;
    display: inline-block;
    top:40px;
    margin-right: 1em;
    width: 32px;
    height: 32px;
}

.social p {
    display: none;
}

.social div {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

#print div {
    background-image:url('./images/iconmonstr-file-gray.png');
}

#linkedin div {
    background-image:url('./images/iconmonstr-linkedin-gray.png');
}

#github div {
    background-image:url('./images/iconmonstr-github-gray.png');
}

#pinterest div {
    background-image:url('./images/iconmonstr-pinterest-gray.png');
}

#email div {
    background-image:url('./images/iconmonstr-email-gray.png');
}

.social:last-child {
    margin-right: 0;
}

/*Desktop only*/
@media (min-width: 1025px) {    

    #print div:hover {
        background-image:url('./images/iconmonstr-file-color.png');
    }

    #linkedin div:hover {
        background-image:url('./images/iconmonstr-linkedin-color.png');
    }

    #github div:hover {
        background-image:url('./images/iconmonstr-github-color.png');
    }

    #pinterest div:hover {
        background-image:url('./images/iconmonstr-pinterest-color.png');
    }

    #email div:hover {
        background-image:url('./images/iconmonstr-email-color.png');
    }
}

/* Portrait */
@media only screen
and (max-width: 1024px) {

    #innerWrapper {
        width:30em;
    }

    aside {
        float: none;
        width: 20em;
        margin-right: auto;
        margin-left: auto;
        top: 0%;
        position: relative;
        transform: none;
        text-align: center;
    }

    #content {
        clear:both;
        float:none;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        top: 0%;
        position: relative;
        transform: none;
        text-align: center;
    }

    footer {
        font-size: 0.4em;
    }
}

@media only screen
and (max-width: 760px)
and (orientation: portrait) {

    aside {
        width: 17em;
    }

    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.28em;
    }

    #innerWrapper {
        width:17em;
        margin-top: -50px;
    }

    #content {
        text-align: center;
        margin-top: 30px;
    }

    #content div {
        font-size: 0.9em;
        /*margin-top: 1em;*/
        margin-bottom: 1.2em;
        line-height: 1.5em;
    }

    #content :before {
        -ms-transform: scale(0.8); /* IE 9 */
        -webkit-transform: scale(0.8); /* Safari */
        transform: scale(0.8);
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0.2em;
    }

    footer {
        font-size: 0.4em;
    }
}

@media only screen
and (max-height: 570px) {

    #wrapper {
        display: block;
        position: relative;
        height: auto;
    }

    #middleWrapper {
        display: block;
        height: 100%;
    }

    #innerWrapper {
        margin-top: 2em;
        
    }

    footer {
        position: relative;
        margin-top: 40px;
    }
}

@media only screen
and (max-width: 1024px)
and (orientation: landscape) {
    #innerWrapper {
        width:17em;
    }

    aside {
        width: 17em;
    }

    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.28em;
    }

    #content div {
        font-size: 0.7em;
        margin-top: 1em;
    }

    #content :before {
        -ms-transform: scale(0.7); /* IE 9 */
        -webkit-transform: scale(0.7); /* Safari */
        transform: scale(0.7);
    }

    footer {
        font-size: 0.4em;
    }
}